
#bootstrap-overrides{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #0b0b0b;

}
#title {
    flex: auto;
    flex-direction: row;
    text-align: center;
    line-height: 1;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Oldtimer;
    font-size: 35px;
    letter-spacing: 9px;
    margin-top: -30px;
    
}

#header{
    position: fixed;
    max-width: 100%;
}





#TitleBackround{
    background-color: #0a0a0a;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    margin: -180px 0px -155px 355px;
    display: flex!important;
    flex-direction: row;

}

@font-face {
    font-family: Oldtimer;
    src: url(Oldtimer-GOPpg.ttf);
}

@font-face {
    font-family: X Typewriter;
    src: url(XTypewriter-Regular.ttf)
}




.imageContain {
    width: 100%;
    height: 100%;
    display: flex!important;
}

#SOLACE {
    color: rgba(255,255,255,0.20999999344348907);
    font-family: Oldtimer;
    font-size: 180px;
    opacity: 1;
    text-align: center;
    position: relative;
    margin-top: -717px;
    animation-duration: 3s;
}

@media (max-width:768px){
    #SOLACE{
        font-size: 50px;
        margin: -150px 0px -253px 0px;
    }
}

#submark {
    height: 115px;
    margin: 0px 0px 0px 0px;
}

@media (max-width:768px){
    #submark{
        height: 50px;
    }
}

#menuIcon{
    height: 68px;
    padding: 0px 42px 0px 0px;
    margin-top: 25px;
}

@media (max-width:768px){
    #menuIcon{
        height: 0px;
    }
}

@media (max-width:768px){
    .py-3{
        height: 52px;
    }
}

#Footer {
    width: auto;
    text-align: center;
    background-color: #0a0a0a;
    height: auto;
    flex: auto;  
    
}

#bannerImg{
    width: 100%;
}

#aboutSolace {
    color: rgba(255,255,255,1);
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: X Typewriter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    flex-direction: column;
    margin: 305px 115px auto 115px;
    flex: auto;
    animation-duration: 5s;
    padding-top: 20px;
}

@media (max-width:768px){
    #aboutSolace{
        font-size: 20px;
        padding-top: 32px;
        margin: 290px 20px 0px 20px;
        animation-duration: 6s;
    }
}

#fog{
    width: 100%;
    transform: rotate(-180deg);
    margin-top: -267px;
    opacity: 0.18;
    position: absolute;
    
}

@media (max-width:768px){
    #fog{
        margin-top: -329px;
    }
}


#demo{
    text-align: center;
    color: #fff;
    font-family: Oldtimer;
    font-size: 45px;
    opacity: .5;
    margin-top: 243px;
    margin-bottom: -34px;
}

@media (max-width:768px){
    #demo{
        margin-top: 91px;
    }
}


#Solace_Demo_Image{
    width: 100%;
    height: 100%;
    margin: 60px auto 0px auto;
    box-shadow: 0px 4px 18.9px 0px rgba(0, 0, 0, 0.53);
    flex: content;
}

.aboutDemo {
    color: rgba(255,255,255,1);
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: X Typewriter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    flex-direction: column;
    margin: 0px 215px 120px 215px;
    flex: auto;
    animation-duration: 5s;
    display: block;
}

@media (max-width:768px){
    .aboutDemo{
        font-size: 20px;
        padding-top: 15px;
        margin: 0px 37px 120px 37px;
    }
}

#egosub{
    height: 55px;
}

.text-body-secondary{
    color: #fff!important;
    max-width: 100%;
}

:root{
    --bs-border-color: #ba4e11;
}

